---
layout: default
---
{% include post/title.html %}
<div id="toc"></div>

<div class="content">
    {{ content }}
</div>


<script src="/blog/assets/vendor/jquery-1.11.3.min.js"></script>
<script src="/blog/assets/vendor/toc.js"></script>
<script type="text/javascript">
$(document).ready(function() {
		    $('#toc').toc();
		});
</script>

{% include post/about.html %}

{% include externals/disqus.html %}



<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>